services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    command: sleep infinity
    network_mode: service:postgres
    environment:
      - ACTIVE_PROFILE=dev
      - DB_HOST=localhost
      - DB_PORT=5432
      - DB_NAME=sighas
      - DB_USERNAME=admin
      - DB_PASSWORD=admin
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:17.6
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: sighas
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d sighas"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "5433:5432"

volumes:
  postgres-data:

