# Valores padrão para saga-chart
# Este é um arquivo formatado em YAML.

# Configuração da Aplicação
app:
  name: "saga-api"
  packageName: "br.com.cacadoresti.saga"
  replicaCount: 1
  springProfile: "dev"
  debug: false
  
  image:
    repository: "ghcr.io/4bitlabs/saga"
    pullPolicy: IfNotPresent
    tag: "develop-a0f0ddd"
  
  service:
    type: ClusterIP
    port: 80
  
  resources:
    limits:
      cpu: 1000m
      memory: 1Gi
    requests:
      cpu: 500m
      memory: 512Mi
  
  securityContext:
    allowPrivilegeEscalation: false
    runAsNonRoot: true
    runAsUser: 1000
    capabilities:
      drop:
        - ALL
  
  podSecurityContext:
    fsGroup: 1000

# Configuração do banco de dados
database:
  enabled: true
  clusterName: "saga-chart-postgres"
  host: "saga-chart-postgres-rw"
  port: 5432
  name: "sighas"
  username: "admin"
  password: "admin"
  postgresVersion: "17.6"
  storageSize: "10Gi"
  storageClass: ""  # String vazia usa a StorageClass padrão
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi

# Configuração do Job de Migração
migration:
  enabled: true
  image:
    repository: "ghcr.io/4bitlabs/saga"
    tag: "develop-a0f0ddd"
  annotations:
    argocd.argoproj.io/sync-wave: "1"
