# Application Configuration
app:
  name: "saga-api"
  packageName: "cacadores.ifal.sighas"
  replicaCount: 1
  springProfile: "prod"
  debug: false
  
  image:
    repository: "ghcr.io/cacadoresti/saga-api"
    pullPolicy: IfNotPresent
    tag: "main-abc1234"  # Será atualizado automaticamente pelo CI/CD
  
  service:
    type: ClusterIP
    port: 80
  
  resources:
    limits:
      cpu: 1000m
      memory: 1Gi
    requests:
      cpu: 500m
      memory: 512Mi
  
  securityContext:
    allowPrivilegeEscalation: false
    runAsNonRoot: true
    runAsUser: 1000
    capabilities:
      drop:
        - ALL
  
  podSecurityContext:
    fsGroup: 1000

# Database Configuration
database:
  enabled: true  # Set to false if using external database
  host: "saga-chart-postgres"  # Nome do serviço do PostgreSQL (será gerado automaticamente)
  port: 5432
  name: "sighas"
  username: "admin"
  password: "admin"  # Em produção, use um secret mais seguro
  postgresVersion: "17.6"
  storageSize: "10Gi"
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi
